* {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: honeydew;
}

h1 {
	margin: auto;
	padding: auto;

	color: darkslateblue;
	text-transform: uppercase;
	font-size: 3em;
}

h2 {
	margin: auto;
	padding: auto;

	color: darkslategray;
	text-transform: lowercase;
}
